@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Integral+CF:wght@400;700&family=Satoshi:wght@400;700&display=swap'); */

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/IntegralCF-Regular.woff2') format('woff2'),
       url('/fonts/IntegralCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 