/* General styling */
.menu-container {
    position: relative;
  }
  
  /* Menu button */
  @media (max-width :768px) {
  .menu-button {
    /* font-size: 24px; */
    border: none;
    cursor: pointer;
    font-weight: 100;
    padding: 10px 15px;
    border-radius: 4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }   
}
  /* Menu overlay */
  .menu-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
    /* color: white; */
  }
  .menu-items {
    position: absolute;
    list-style: none;
    margin-bottom: 30vw;
    padding-left: 80px;
    text-align:left;
    width: 200px;
    background-color :  #f0f0f0;
    height:100%;
    left: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start; */

  }

  /* Cut button */
  .cut-button {
    /* position:relative; */
    /* width:fit-content; */
    /* top: 20px; */
    /* left: 90%; */
    font-size: 20px;
    background: none;
    border: none;
    color:black;
    cursor: pointer;
  }
  
  /* Menu items */
  .menu-items {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu-items li {
    margin: 10px 0;
  }
  
  .menu-items a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .menu-items a:hover {
    color: rgb(133, 120, 51);
  }
  